// Colors

$white: #ffffff;
$black: #000000;
$blue: #132576;
$dark-blue: #182044;
$red: #ff0000;
$light-grey: #e2e5f2;
$grayish-blue: #d6daed;
$basic-blue: #161c35;
$basic-blue-pale: #edeff6;
$basic-blue-light: #1d2e5b;
$special-blue: #192144;
$special-dark-blue: #141B3B;
$special-blue-light: #dfe3f0;
$basic-yellow: #ffd74b;
$special-yellow-dark: #ffbd30;
$basic-grey-light: #cbced9;
$special-grey: #444444;
$special-grey-light: #f3f4f8;
$special-red: #f47e7e;
$special-orange: #ff8d30;
$special-orange-dark: #ff5c23;
$special-orange-light: #ffa530;

// Mixins

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex-base {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Viewports

$pre-tablet-width: 767px;
$tablet-width: 768px;
$pre-desktop-width: 1439px;
$desktop-width: 1440px;