// Colors

$white: #ffffff;
$black: #000000;
$blue: #132576;
$dark-blue: #182044;
$red: #ff0000;
$light-grey: #e2e5f2;
$grayish-blue: #d6daed;
$basic-blue: #161c35;
$basic-blue-pale: #edeff6;
$basic-blue-light: #1d2e5b;
$special-blue: #192144;
$special-blue-light: #dfe3f0;
$basic-yellow: #ffd74b;
$special-yellow-dark: #ffbd30;
$basic-grey-light: #cbced9;
$special-grey: #444444;
$special-grey-light: #f3f4f8;
$special-red: #f47e7e;
$special-orange: #ff8d30;
$special-orange-dark: #ff5c23;
$special-orange-light: #ffa530;

// Viewports

$tablet-width: 768px;
$without-desktop: 1439px;
$desktop-width: 1440px;